body {
  background-color: black;
  padding: 1.5rem 1.5rem 1.63rem 1.5rem;
  display: flex; /* Activa Flexbox */
  flex-direction: column; /* Apila los elementos verticalmente */
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.about {
  flex-grow: 1;
}

#about-text {
  margin-top: 1.94rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.8125rem;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 93.333% */
  letter-spacing: -0.01875rem;
}

#about-text a {
  color: #fff !important;
}
#about-text a:hover {
  text-decoration: underline;
}

.dark .f_wrapper {
  color: #fff;
  align-items: baseline;
  justify-content: left;
  gap: 4rem;
}

.dark .f_l a {
  color: #fff;
}

.f_r {
  width: 14.625rem;
}

.highlighted {
  color: #0009ff; /* O el color de resaltado que pre; /* Transición suave (opcional) */
}

@media (max-width: 700px) {
  #about-text {
    font-size: 1.5rem;
    line-height: 1.375rem; /* 91.667% */
    letter-spacing: -0.015rem;
    margin-top: 4.25rem;
  }

  .dark .f_wrapper {
    color: #fff;
    align-items: baseline;
    justify-content: left;
    gap: 1.25rem;
    margin-top: 9.69rem;
  }
}
